.theme-control {
  border-radius: 50%;
  cursor: pointer;
  @include themify(color);
  background-color: darkgray;
  border: none;
  position: fixed;
  right: gutter-size(10);
  bottom: gutter-size(10);
  height: gutter-size(10);
  width: gutter-size(10);
  font-size: gutter-size(5);
}

